# Web stack
--index-url https://pypi.org/simple
requests>=2.31
celery[redis]==5.4.0
tomli; python_version < "3.11"

# internal
-e ./libs/toolkit
git+https://github.com/psf/requests.git@v2.32.3#egg=requests-git
./vendor/proto-1.2.0-py3-none-any.whl

--pre
--no-binary grpcio
-r base.txt
